.view-product-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .product {
    display: flex;
    padding: 1rem;
    background-color: var(--fourth-color);
    border-radius: 15px;
    margin-top: 2rem;
    gap: 1rem;
    width: 80%;

    .product-image img {
      max-width: 250px;
      height: auto;
      object-fit: cover;
    }

    .product-detail {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      line-height: 3rem;
    }
  }
}

@media (max-width: 880px) {
  #product {
    width: 90%;
  }

  .product-image img {
    width: 180px;
  }
}
