@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f24f13;
  --secondary-color: #f26430;
  --third-color: #f2865e;
  --fourth-color: #f2c1ae;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #f5f4f6;
}

button {
  cursor: pointer;
}
